<md-toolbar>
    <div class="md-toolbar-tools">
      <p><strong>ngClassifieds</strong></p>

      <md-button ng-click="vm.openSideBar()">
        <md-icon class="mdi mdi-plus-circle">
          New Classified
        </md-icon>
      </md-button>

      <md-button ng-click="showFilters = true">
        <md-icon class="mdi mdi-magnify">
          Filters
        </md-icon>
      </md-button>
    </div>
  </md-toolbar>


  <div ng-show="showFilters" layout="row" class="filters" layout-align="center center">    
    <md-input-container class="search-term">
      <label>Enter search term</label>
      <input type="text" ng-model="classifiedsFilter">
    </md-input-container>

    <md-input-container>
      <label>Category</label>
      <md-select ng-model="category">
        <md-option 
          ng-repeat="category in vm.categories" 
          value="{{ category }}"
          >
          {{ category }}
        </md-option>
      </md-select>
    </md-input-container>

    <md-input-container>
      <md-button class="md-warn" ng-click="classifiedsFilter = ''; category = ''">
        Clear
      </md-button>
    </md-input-container>
  </div>
  
  <ui-view></ui-view>
  
  <md-content>
    <classified-card
      classifieds="vm.classifieds" 
      classifieds-filter='classifiedsFilter'
      category='category'
      class="md-padding" 
      layout="row" 
      layout-wrap
    >
    </classified-card>
  </md-content>
